/**Nischal Man Bajracharya UN ID- 16442412**/

input{
  padding: 10px; border-radius: 7px; border: 1px  solid green;

}
select{
  width: 20%; padding: 0.2em; border-radius: 4px solid green;
}
submit{
  padding: 0.3em 0.2em; cursor :pointer;
  transition: padding: 2s;

}
submit:hover{
  padding: 0.3em; background: red; cols:"80"> text area <br><br>
}
footer{
  margin-top: 0px;
}
legend{
  font-size: 20px;
  font-family: sans-serif;
  color: yellow;
  background-color: green;
  padding: 10px;
}
label{
  font-size: 20px;
  font-family: sans-serif;
  color: yellow;
  background-color: green;
}
