/**Nischal Man Bajracharya UN ID- 16442412**/

body{
  margin: 0.3%;
  padding: 0.3%;
  background-image:url("../images/icon.jpg");

    background-repeat: no-repeat;


}
section{
  height: 250px;
  display: flex;
  flex-flow: row;

}
.second{
  height: 0px;

}
.second b {
  background: green; text-align: center;
  padding-right: 367px; padding-left: 400px;
  padding-bottom: 20px;

  font-size: 25px;
  font-display: block;
  font-family: fantasy;



}
.second a{
  font-size: 20px;
  font-family: sans-serif;
  color: yellow;
  background-color: black;
}


header{

  font-family: fantasy;
  text-align: center;
  font-size: 25px;
  border-radius: 8px;
  color:green;
  background-image: url(../images/aa.png);


}


.logo{width: 100%; display:flex; justify-content: space-between;}
.logo img{width: 100px; height: 130px;margin-left: 90px;}

.first{

  border-radius: 8px;
  background-image: url(../images/qq.jpg);

}

.first ul{
  list-style: none;
  display: flex;

  border-radius: 8px

}

.first ul li{


flex:1 1 0;
}

.first ul li a{
  color: green;
  text-decoration: none;
font-family: serif;
font-size: 18px:
}

.first  a:hover{
  background: grey;
    border-radius: 8px
}
.second{

    font-size: 18px;
    font-family: cursive;


    color:black;
    text-align:center;
    float: center;
    border-radius: 10px 0px 0px 10px;


  }

    footer{



      font-family:sans-serif;
      color:green;
      border-radius:10px 10px 10px 10px;
      margin-top: 325px;

      text-align: center;
        background-image: url(../images/aa.png);
display:flex;
justify-content: space-around;
width:100%;


    }
    .flogo{width: 100%;
      padding-left:1000px;

    }
    .flogo img{width: 100px; height: 67px;margin-right:90px;}

    .copyright{width: 100%;}
    .copyright p{margin: 2%;}
    @media all and (max-width:800px){

      footer{
        flex-direction:column;
      }
      .first ul{
        flex-direction: column;
      }
      section{
        flex-direction: column;
      }
      .bip img{
        flex-direction: column;
      }
    }
    .cv{
      display:flex;
      justify-content: space-between;
      flex:1 1 0;
    }
    .pf{
      background: silver;
      width: 14%;
        text-align: center;

    }
    .edu{
      background: silver;
      width:39%;
      text-align: center;
    }
    .skill{
      background: silver;
      width:24%;
        text-align: center;
    }
    .cors{
      background: silver;
      width: 20%;
        text-align: center;
    }
    .ct h2{
      width:100%;
      background-color: green;
      text-align: center;
      height: 50px;
      font-display: block;
      font-family: fantasy;
      font-size: 25px;
    }
